<h1><strong>Home</strong></h1>
  <div class="col-md-6">
    <h3>Search for photos via Flickr API</h3>
    <div class="custom-search-input">
      <div class="input-group col-md-12">
        <span class="input-group-btn">
          <button {{action 'clear'}} class="btn btn-info btn-lg" type="button">Clear results</button>
        </span>
        {{input id ="search-input" type="text" insert-newline='search' class="form-control input-lg" placeholder="Type your keywords here..." value=keywordsProxy}}
        <span class="input-group-btn">
          <button {{action 'search' }} class="btn btn-info btn-lg" type="button" >Search</button>
        </span>
      </div>
    </div>
  </div>
  <div id = "results" class='container'>
    <!-- {{#modal-dialog}}
      Oh hai there!
    {{/modal-dialog}} -->
    {{images-wrapper link=model.link date=model.modified numberOfPics=model.items.length picsArray = model.items}}
  </div>
