<h1><strong>About</strong></h1>
<img src='./assets/about.png' alt='About' style='float: right;'/>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit magna in faucibus facilisis. Morbi non lacus ornare, laoreet purus nec, venenatis nunc.
Cras in eleifend quam. Sed vulputate quam at lacus sodales elementum. Donec sed risus non mauris ultricies elementum vitae at sem. Nulla mattis ex aliquam enim porttitor,
id porttitor massa maximus. Pellentesque a imperdiet velit, at sodales augue. Suspendisse laoreet luctus risus fringilla posuere. Proin posuere vel nunc eu consectetur.
Nam vel semper dui. Sed a congue mi, non auctor neque. Nulla facilisi. Pellentesque aliquet justo sit amet ante convallis, a mattis lorem hendrerit.</p>
