<div class='navbar navbar-default'>
  <div class='container'>
    <div class='navbar-brand'>
      <img src='./assets/logo.png' alt='logo' height='50' width='50'/>
    </div>

    <h1 class='navbar-brand'><strong>FlickrViewer</strong></h1>
    <ul class='nav navbar-nav navbar-right'>
      {{#link-to 'index' tagName='li' class='ember-view navbar-brand'}}Home{{/link-to}}
      {{#link-to 'about' tagName='li' class='ember-view navbar-brand'}}About{{/link-to}}
    </ul>
  </div>
</div>

<div class='container'>
  {{outlet}}
</div>

<footer class='container'>
  <hr />
  <p class='pull-right'>Rendered on <strong>{{time}}</strong> &copy; <strong>{{author}}</strong></p>
</footer>
